*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    /* top: 0;
    bottom:0; */
    position:fixed;
    /* overflow-y: scroll; */
    min-height: 5rem;
    z-index: 1;
    display: flex;
    width: 99vw;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color:#474747;
    color: #CC527A;
}
.logo{
    font-size: 1rem;
}
.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.home,
.products,
.price{
    text-decoration: none;
    color: #CC527A;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin:0 0.5rem;
    cursor: pointer;
    font-weight: bold;
}
.price:hover{
    text-decoration: none;
    cursor:none;
}
.cart{
    display: flex;
    justify-content:center;
    /* width: 9rem; */
    align-items: center;
    color:#CC527A;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.4rem;
}
.home:hover,
.products:hover,
.cart:hover,
.price:hover{
    background-color:#A8A7A7;
    color: #E8175D;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: ease-in-out all 0.5s;
}
/* .child-cart{
    padding: 0.2rem 0.2rem;
} */
.mobile-menu-icon{
    display: none;
}

@media screen and (max-width: 780px) {
    .navbar{
        height: 8rem;
    }
   .logo{
       display: flex;
       position: relative;
       top:0rem;
       left: 2rem;
   } 
   .nav-links{
       display: none;
   }
   .nav-links-mobile{
       position:absolute;
       display: block;
       list-style: none;
       background-color:#CC527A;
       left: 0;
       top: 5.5rem;
       transition: all 0.5s ease-out;
       width: 100%;
   }
   .price{
       color: #A8A7A7;
       text-align: center;
   }
   .home,
   .products,
   .cart{
       color: #A8A7A7;
       text-align: center;
       padding: 0.5rem;
       transition: all 0.5s ease;
   }
   .home:hover,
   .products:hover,
   .price:hover{
        background-color: #E8175D;
        color: #474747;
        cursor: pointer;
   }
   .cart:hover{
        background-color:#E8175D;
        color: #474747;
        cursor: pointer;
   }
   .mobile-menu-icon{
       display: block;
       position: absolute;
       font-size: 1.5rem;
       color:#99B989;
       padding:0.5rem;
       background-color:#CC527A;
       outline: none;
       border: none;
       top: 1rem;
       right: 1.5rem;
   }
}